@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E2E2E2;
}

main {
    margin: 0 auto 100px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    padding-bottom: 35px;
}

img {
  display: block;
  width: 100%;
}
h1{
    margin-top: .8rem;
    padding: 20px;
    margin-bottom: .8rem;
    color: #372000;
    font-size: 1.602rem;
}

figure {
    margin: 0px;
    position: relative;
}

figure figcaption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-style: italic;
    background: rgba(0, 0, 0, .5);
}

figure img {
    width: 100%;
}

table th {
    text-align: left;
    color: #959594;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding-left: 20px;
}

table td {
    padding-left: 20px;
    font-size: 1.2656rem;
}

.mid {
    border-left: 2px #959594 solid;
    border-right:  2px #959594 solid;
}

